/* From Uiverse.io by andrew-demchenk0 */ 
.button {
	position: relative;
	width: 150px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #34974d;
	background-color: #3aa856;
}

.button, .button__icon, .button__text {
	transition: all 0.3s;
}

.button .button__text {
	transform: translateX(30px);
	color: #fff;
	font-weight: 600;
}

.button .button__icon {
	position: absolute;
	transform: translateX(109px);
	height: 100%;
	width: 39px;
	background-color: #34974d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button .svg {
	width: 30px;
	stroke: #fff;
}

.button:hover {
	background: #34974d;
}

.button:hover .button__text {
	color: transparent;
}

.button:hover .button__icon {
	width: 148px;
	transform: translateX(0);
}

.button:active .button__icon {
	background-color: #2e8644;
}

.button:active {
	border: 1px solid #2e8644;
}





.form_main {
	width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	padding: 30px 30px 30px 30px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
	position: relative;
	overflow: hidden;
}

.form_main::before {
	position: absolute;
	content: "";
	width: 300px;
	height: 300px;
	background-color: rgb(209, 193, 255);
	transform: rotate(45deg);
	left: -180px;
	bottom: 30px;
	z-index: 1;
	border-radius: 30px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
	font-size: 2em;
	color: #2e2e2e;
	font-weight: 700;
	margin: 5px 0 10px 0;
	z-index: 2;
}

.inputContainer {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.inputField {
	width: 100%;
	height: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid rgb(173, 173, 173);
	margin: 10px 0;
	color: black;
	font-size: .8em;
	font-weight: 500;
	box-sizing: border-box;
	padding-left: 30px;
}

.inputField:focus {
	outline: none;
	border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
	color: rgb(80, 80, 80);
	font-size: 1em;
	font-weight: 500;
}

#button {
	z-index: 2;
	position: relative;
	width: 100%;
	border: none;
	background-color: rgb(162, 104, 255);
	height: 30px;
	color: white;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 10px;
	cursor: pointer;
}

#button:hover {
	background-color: rgb(126, 84, 255);
}