html {
	width: 100%;
}
html, html * {
	box-sizing: border-box;
	padding: 0;
	border: none;
	outline: none;
	margin: 0;
}



body {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	width: 100%;
}





header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-shadow: 0 0 3px 0 #ccc;
	background-color: aquamarine;
}
header > div {
	display: flex;
	flex-flow: row nowrap;
	align-items: end;
	margin: 0 25% 0 8%;
}
header h1 {
	font-size: 3.5rem;
}
header > a > img {
	height: 9rem;
	margin: 0 20px -20px 20px;
}



footer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;

	background-color:rgb(186, 178, 207);
}
footer > * {
	margin-left: 5%;
}





#div-central {
	display: flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	align-items: stretch;
}
nav {
	display: flex;
	position: sticky;
	max-height: 80vh;
	padding: 2%;
	border-right: solid 2px #333;
}
nav > ul {
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	height: 100%;
	list-style-type: none;
}
main {
	flex-grow: 1;
	padding: 3%;
}