/*
Contributeur 1 : BOULLOT Matthias p2306662
Contributeur 2 : CISERANE Marius p2303380
*/

html {
	width: 100%;
}
html, html * {
	box-sizing: border-box;

	padding: 0;
	border: none;
	outline: none;
	margin: 0;

	background: none;
}



body {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	width: 100%;
	min-height: 100vh;
	cursor: url("../img/basic_curseur.png") , auto;
}
a:hover {
	cursor: url("../img/selection_curseur.png") , auto;
}





header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	box-shadow: 0 0 3px 0 #ccc;
	background: #233e41;
	/*animation: changeBg 5s infinite alternate linear;*/
}
header > div {
	display: flex;
	flex-flow: row nowrap;
	align-items: end;
	margin-right: 10%;
}
header h1, strong {
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
header h1 {
	font-size: 3.5rem;
	background-image: url(../img/vague.jpg);
}
header strong {
	font-size: 2rem;
	margin-bottom: -.5rem;
	word-break: keep-all;
	background-image: url(../img/sable.png);
}
header > a > img {
	height: 9rem;
	margin: 0 20px -20px 20px;
}
header > p {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-size: 1rem;
	text-align: center;
	color: #EDE0DE;
}
header > p > span {
	font-size: 1.2rem;
	color: greenyellow;
}
/*@keyframes changeBg {
	0% {
		background: #8bf8e7;
	}
	20% {
		background: #73e0cf;
	}
	40% {
		background: #60e0eb;
	}
	60% {
		background: #a6f2fa;
	}
	80% {
		background: #8bf8e7;
	}
	100% {
		background: #34BAB5;
	}
}*/


footer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;

	background-color:rgb(186, 178, 207);
}
footer > * {
	margin-left: 5%;
}
#pied_page span a {
	color: #338;
	cursor: url("../img/selection_curseur.png") , auto;
}
#pied_page span a:hover {
	color: #407;
	cursor: url("../img/selection_curseur.png") , auto;
}




#div-central {
	flex-grow: 1;
	display: flex;
	flex-flow: row;
	justify-content: stretch;
	align-items: stretch;
}
nav {
	display: flex;
	position: sticky;
	top: 0px;
	max-height: 100vh;
	padding-top: 2%;
	border-right: solid 1px #AAA;
}
nav > ul {
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	height: 100%;
	list-style-type: none;
}
nav li {
	display: contents;
}
nav li a {
	text-decoration: none;
	width: 100%;
	padding: .5rem 2rem;
	border-radius: 4px;
	color: black;
}
nav li a:hover {
	background-color: #CCC;
}
main {
	flex-grow: 1;
	position: relative;
	padding: 3%;
}
main h1 {
	margin-bottom: 5%;
	font-size: 2rem;
}




.err-msg {
	font-weight: 700;
	color: red;
}





.framed-text {
	position: relative;
	padding: 2rem;
	border: solid 3px #338;
	border-radius: 20px;
	margin: 5% 2%;
}
.framed-text > h2 {
	position: absolute;
	top: -.9rem;
	left: 0px;
	right: 0px;
	width: fit-content;
	padding: 0 1%;
	margin-inline: auto;
	text-align: center;
	font-size: 1.5rem;
	background-color: white;
}
.framed-text > ul > li {
	list-style-type: none;
}
.framed-text > ul > li, .framed-text > ol > li {
	margin-top: 2rem;
}
.framed-text h3::before {
	width: 5%;
	height: 2px;
	content: "━━━━━━━━║  ";
}
.framed-text img {
	width: 70px;
	height: 70px;
}

.framed-text ol {
	counter-reset: count;
}
.framed-text ol > li {
	counter-increment: count;
}
.framed-text ol > li > h3 {
	margin-left: .5rem;
}
.framed-text ol > li::marker {
	content: counter(count);
	font-weight: bold;
	margin-right: .4rem;
}
.framed-text li ul, .framed-text li ol {
	padding-left: 2rem;
}





#player-page {
	padding: 20px;
	border-radius: 30px;
	background-color: #F8F8F8;
}
#player-page h2 {
	width: fit-content;
	padding: 0 30px 2px 10px;
	border-radius: 8px;
	margin: 0 0 1rem 3rem;
	color: black;
	background-color: #4441;
}
#player-page table {
	display: grid;
	grid-template-columns: 0 repeat(4, auto);
	position: relative;
	width: 100%;
	height: 15.3rem;
	border: solid 2px black;
	border-radius: 4px;
	border-collapse: collapse;
	overflow-y: scroll;
	text-align: center;
	font-size: 1rem;
}
#player-page thead, #player-page tbody {
	display: contents;
}
#player-page tr {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
}
#player-page thead tr {
	position: sticky;
	top: 0px;
	z-index: 2;
	padding: .5rem 0;
	font-size: 1.1rem;
	background-color: #DDD;
	box-shadow: 0 1px #888, 0 2px #AAA, 0 4px #CCC, 0 6px #EEE;
}
#player-page tbody tr {
	position: relative;
}
#player-page tbody td {
	padding: .41rem 0;
}
#player-page tbody tr:nth-child(even) td {
	background-color: #EEE;
}
#player-page tbody tr:nth-child(odd) td {
	background-color: #F8F8F8;
}
#player-page button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#player-page button:hover {
	background-color: #FBC4;
	cursor: url("../img/basic_curseur.png") , auto;
}



#activite {
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
}
#activite h2 {
	margin-bottom: 3rem;
}
#activite ul {
	display: flex;
	flex-flow: column nowrap;
}
#activite li {
	list-style: none;
}





#stats-page {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-right: 8%;
	border-radius: 50px;
	box-shadow: black 0 0 30px 0 inset;
}
#stats-page li {
	display: contents;
}
#stats-page li:nth-child(-n+2) output { color: #811; }
#stats-page li:nth-child( n+3) output { color: #8BF; }
#stats-page li:nth-child(-n+2) label > span { color: #111; }
#stats-page li:nth-child( n+3) label > span { color: #AAA; }
#stats-page li:nth-child(-n+2) label > span > span { color: #8F0; }
#stats-page li:nth-child( n+3) label > span > span { color: #F00; }
#stats-page label {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 8% 0;
}
#stats-page label > output {
	font-size: 4rem;
	font-weight: bold;
}
#stats-page label > span {
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 1px;
}
#stats-page label > span > span {
	font-size: 1.2rem;
	color: red;
	font-weight: bold;
}





#classements {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	row-gap: 2rem;
}
#classements ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, 24.7rem);
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	row-gap: 2rem;
}
#classements li {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	position: relative;
	height: fit-content;
	padding: 4% 6%;
	border: solid 3px #555;
	border-radius: 30px;
	box-shadow: #888 3px 3px 10px, #AAA 5px 1px 5px inset;
	transition: all .1s linear;
}
#classements li:hover {
	box-shadow: #888 3px 3px 10px, #AAA 5px 1px 20px inset;
	background-color: #FFF8FF;
}
#classements button {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*background-color: #FE86;*/
}
#classements li .classement-head {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}
#classements li h2 {
	font-size: 2rem;
	color: black;
	text-wrap-mode: nowrap;
}
#classements .classement-maj {
	font-size: 1rem;
	color: #666;
	text-wrap-mode: nowrap;
}
#classements .classement-crea {
	font-size: .8rem;
	color: #666;
}
#classements hr {
	border-bottom: solid 1px #888;
	margin:.5rem 0;
}
#classements .classement-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#classements .classement-difficulte {
	margin-left: 20%;
}
#classements .classement-taille {
	margin-right: 20%;
}







main > p:has(~ #jeu) {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #333
}
main > p:has(+ #jeu) {
	font-size: .8rem;
	font-weight: normal;
	color: grey;
}
#jeu img {display: block; margin: auto; width:13vmin;}

#jeu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 0 5%;
	width: 100%;
	height: 100%;
}
#jeu > a {
	display: block;
	align-self: start;
	height: 3rem;
	border-radius: 10px;
	background-color: #EEE;
}
#jeu > a svg { height: 100%; }
#jeu table {
	height: intrinsic;
	aspect-ratio: 1;
}
#jeu table td, #jeu table th {
	position: relative;
	vertical-align: middle;
}
#jeu table button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
#jeu table button:hover {
	background-color: #F005;
}
#jeu table button:active {
	background-color: #F008 !important;
}
#jeu table input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	appearance: none;
	border-radius: 20px;
	cursor: url("../img/basic_curseur.png") , auto;
}
#jeu table input:hover {
	background-color: #0F03;
}
#jeu table input:checked {
	background-color: #0F08 !important;
}
#jeu > label {
	padding: 1rem 3.5%;
	border-radius: 20px;
	font-size: 2rem;
	text-align: center;
	color: white;
	background-color: green;
	transition: box-shadow .15s linear;
	cursor: url("../img/basic_curseur.png") , auto;
}
#jeu > label:hover {
	box-shadow: 0 2px 7px 0 black;
}
#jeu > label > input {
	display: none;
}
#jeu > ul {
	display: grid;
	grid-auto-rows: 1fr;
}
#jeu > ul > li {
	position: relative;
	border-radius: 20px;
	list-style: none;
}
#jeu > ul input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 10px;
	appearance: none;
	z-index: 1;
	cursor: url("../img/basic_curseur.png") , auto;
}
#jeu > ul input:hover {
	background-color: #0F05;
}
#jeu > ul input:checked {
	background-color: #0F08;
}
#jeu .tuile-emplacement {
	width: 70%;
	height: 70%;
	border: 6px #0004 double;
	border-radius: 10px;
	margin: 15%;
	background-color: #AAA4;
}
.tuile-score-nul {
	font-size: 2rem;
	color: red;
}
.tuile-score-bien {
	font-size: 2rem;
	color: #0F0;
}
.contrainte_perdu {
	background-color: red;
}
.contrainte_valide {
	background-color: #0F0;
}
.contrainte_defaut {
	background: none;
}







#select-partie table, #classement table {
	display: grid;
	max-height: 100%;
	margin: 0 20%;
	overflow-y: scroll;
}
#select-partie table {
	grid-template-columns: 0px 1fr 1fr 3fr;
	max-height: calc(4*(5.8rem));
	border: #CCC 10px;
	margin-bottom: 4rem;
	overflow-y: scroll;
	box-shadow: black 0 3px 10px 0;
}
#classement    table { grid-template-columns: 0px repeat(6, 1fr); }
#select-partie thead, #select-partie tbody, #classement thead, #classement tbody {
	display: contents;
}

#select-partie tr, #classement tr {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	width: 100%;
}
#select-partie thead tr, #classement thead tr {
	height: 2rem;
	padding: .4rem 0;
	font-size: 1rem;
	color: white;
	background-color: #333;
}
#select-partie thead tr {
	position: sticky;
	top: 0;
	z-index: 1;
}
#classement thead tr { padding-right: 20px }
#select-partie tbody tr, #classement tbody tr {
	position: relative;
	box-sizing: content-box;
	padding: 1rem 0 .7rem 0;
	border: solid #200 2px;
	border-top: none;
	font-size: 2rem;
}

#select-partie tbody tr td, #classement tbody tr td {
	height: 100%;
	text-align: center
}
#select-partie thead th:last-child, #classement thead th:last-child {
	padding-right: 5%;
	text-align: right;
}
#select-partie tbody td:has(time), #classement tbody td:has(time) {
	height: 3rem;
	padding-right: 5%;
	font-size: .8rem;
	vertical-align: top;
	text-align: right;
	color: #333;
}

#select-partie tbody th, #classement tbody th {
	width: 0;
	height: 0;
}
#select-partie tbody button, #classement tbody button {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
	transition: all .1s linear;
}
#select-partie tbody button:hover, #classement tbody button:hover {
	box-shadow: black 0 0 10px 0 inset;
	transition: all .1s linear;
	cursor: url("../img/basic_curseur.png") , auto;
}
#select-partie tbody button::before, #classement tbody button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0px;
	height: 100%;
	background: linear-gradient(to right, white, transparent);
	transition: all .1s linear;
}
#select-partie tbody button:hover::before, #classement tbody button:hover::before {
	width: 20%;
	transition: all .1s linear;
}



#new-partie {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: fit-content;
	padding-bottom: 1rem;
}
#new-partie label {
	display: block;
	position: relative;
	width: fit-content;
	padding: 1rem 2rem;
	border-radius: 30px 30px 0 0;
	margin: auto;
	overflow: hidden;
	cursor: pointer;
	background-color: #518;
}
#new-partie label span {
	display: inline-block;
	position: relative;
	font-size: 2rem;
	color: white;
}
#new-partie label::before {
	content: "";
	position: absolute;
	top: 0;
	right: 100%;
	bottom: 0;
	width: calc(100% + 33%);
	height: 100%;
	background: linear-gradient(to right, #407 75%, #72A);
	transition: right .4s linear;
}
#new-partie label:hover::before {
	right: -40px;
}
#new-partie label input {
	display: none;
}







.warning {
	width: fit-content;
	padding: 3rem 5%;
	border: double 14px orange;
	border-radius: 30px;
	margin: auto;
}
.warning h2 {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: #700;
}
.warning p {
	width: 90%;
	margin: 1rem auto;
}
.warning .redirection {
	display: block;
	width: fit-content;
	padding: 1rem 5%;
	border-radius: 20px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: purple;
}



.targetable:hover {
	/*background-color: gold !important;
	transition: background-color 2s step-start;*/
}
