/* From Uiverse.io by andrew-demchenk0 */ 
.formulaire {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.button, .accueil_redirection {
	position: relative;
	width: 70%;
	aspect-ratio: 5 / 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #34974d;
	background-color: #3aa856;
}

.button, .button_icon, .button_text, .accueil_redirection {
	transition: all 0.3s;
}

.button .button_text, .accueil_redirection {
	margin-left: 20%;
	color: #fff;
	font-weight: 600;
	font-size: 300%;
}

.button .button_icon {
	position: absolute;
	transform: translateX(300%);
	height: 100%;
	width: 25%;
	background-color: #34974d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button_icon .svg {
	width: 40%;
	height: 40%;
	stroke: #fff;
}

.button:hover, .accueil_redirection:hover {
	background: #34974d;
}

.button:hover #button_text1 {
	color: transparent;
}

.button:hover .button_icon {
	width: 25%;
	transform: translateX(150%);
}

.button:active .button_icon {
	background-color: #2e8644;
}

.button:active, .accueil_redirection:active {
	background-color: #2e8644;
	border: 1px solid #2e8644;
}

.accueil_redirection {
	text-decoration: none;
	justify-content: center;
}




.form_main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	position: relative;
	aspect-ratio: 3 / 3;
	min-width: 50%;
	height: 100%;
	padding: 30px 30px 30px 30px;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
}

.form_main::before {
	content: "";
	position: absolute;
	left: -40%;
	top: -5%;
	width: 80%;
	height: 80%;
	z-index: 1;
	border-radius: 30px;
	transform: rotate(45deg);
	background-color: rgb(209, 193, 255);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

#button {
	position: relative;
	width: 100%;
	z-index: 2;
	height: 30px;
	border: none;
	margin: 10px;
	font-size: .8em;
	font-weight: 500;
	letter-spacing: 1px;
	color: white;
	cursor: pointer;
	background-color: rgb(162, 104, 255);
}

#button:hover {
	background-color: rgb(126, 84, 255);
}

/* level settings */

.slider {
	/* slider */
	--slider-width: 100%;
	--slider-height: 6px;
	--slider-bg: rgb(162, 104, 255);
	--slider-border-radius: 999px;
	/* level */
	--level-color: #fff;
	--level-transition-duration: .1s;
	/* icon */
	--icon-margin: 15px;
	--icon-color: var(--slider-bg);
	--icon-size: 25px;
}
  
.slider {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	z-index: 2;
	font-size: 200%;
}
  
.slider .taille {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: var(--slider-width);
	height: var(--slider-height);
	background: var(--slider-bg);
	overflow: hidden;
	border-radius: var(--slider-border-radius);
	-webkit-transition: height var(--level-transition-duration);
	-o-transition: height var(--level-transition-duration);
	transition: height var(--level-transition-duration);
	cursor: inherit;
	margin: 0px 5%;
}
  
.slider .taille::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0;
	height: 0;
	-webkit-box-shadow: -200px 0 0 200px var(--level-color);
	box-shadow: -200px 0 0 200px var(--level-color);
}
  
.slider:hover .taille {
	height: calc(var(--slider-height) * 2);
	background: rgb(126, 84, 255);
}

.slider_barre {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding: 2% 0;
}
.slider_barre > div {
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	height: 100%;
	padding: 0 5%;
}
.slider_barre > div > div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	font-size: .8rem;
	font-weight: bold;
	background: linear-gradient(to right, transparent, #EEEF 60%, transparent);
}
.slider_barre input:-webkit-progress-value { background: royalblue }
.slider_barre input:-moz-progress-bar { background: royalblue }
.slider_barre input { color: royalblue }



.difficulté {
	cursor: pointer;
	text-align: center;
	width: 100%;
	z-index: 2;
	font-size: 200%;
}

.radio-inputs {
	position: relative;
	border-radius: 0.5rem;
	background-color: #EEE;
	box-sizing: border-box;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
	padding: 0.25rem;
	font-size: 50%;
	display: flex;
	flex-direction: row;
	width: 100%;
  }
  
  .radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
  }
  
  .radio-inputs .radio input {
	display: none;
  }
  
  .radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	border: none;
	padding: .5rem 0;
	color: rgba(51, 65, 85, 1);
	transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
	background-color: #fff;
	font-weight: 600;
  }
