html {
	width: 100%;
}
html, html * {
	box-sizing: border-box;

	padding: 0;
	border: none;
	outline: none;
	margin: 0;

	background: none;
}



body {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	width: 100%;
	min-height: 100vh;
}





header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	box-shadow: 0 0 3px 0 #ccc;
	background-color: aquamarine;
}
header > div {
	display: flex;
	flex-flow: row nowrap;
	align-items: end;
	margin-right: 10%;
}
header h1 {
	font-size: 3.5rem;
}
header strong {
	font-size: 2rem;
	margin-bottom: -.5rem;
	word-break: keep-all;
}
header > a > img {
	height: 9rem;
	margin: 0 20px -20px 20px;
}
header > p {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-size: 1rem;
	text-align: center;
}
header > p > span {
	font-size: 1.2rem;
	color: green;
}



footer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	width: 100%;

	background-color:rgb(186, 178, 207);
}
footer > * {
	margin-left: 5%;
}





#div-central {
	flex-grow: 1;
	display: flex;
	flex-flow: row;
	justify-content: stretch;
	align-items: stretch;
}
nav {
	display: flex;
	position: sticky;
	top: 0px;
	max-height: 100vh;
	padding-top: 2%;
	border-right: solid 1px #AAA;
}
nav > ul {
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
	height: 100%;
	list-style-type: none;
}
nav li {
	display: contents;
}
nav li a {
	text-decoration: none;
	width: 100%;
	padding: .5rem 2rem;
	border-radius: 4px;
	color: black;
}
nav li a:hover {
	background-color: #CCC;
}
main {
	flex-grow: 1;
	padding: 3%;
}
main h1 {
	margin-bottom: 5%;
	font-size: 2rem;
}




.err-msg {
	font-weight: 700;
	color: red;
}





.framed-text {
	position: relative;
	padding: 2rem;
	border: solid 3px #338;
	border-radius: 20px;
	margin: 5% 2%;
}
.framed-text > h2 {
	position: absolute;
	top: -.9rem;
	left: 0px;
	right: 0px;
	width: fit-content;
	padding: 0 1%;
	margin-inline: auto;
	text-align: center;
	font-size: 1.5rem;
	background-color: white;
}
.framed-text > ul > li {
	list-style-type: none;
}
.framed-text > ul > li, .framed-text > ol > li {
	margin-top: 2rem;
}
.framed-text h3::before {
	width: 5%;
	height: 2px;
	content: "━━━━━━━━║  ";
}
.framed-text img {
	width: 70px;
	height: 70px;
}

.framed-text ol {
	counter-reset: count;
}
.framed-text ol > li {
	counter-increment: count;
}
.framed-text ol > li > h3 {
	margin-left: .5rem;
}
.framed-text ol > li::marker {
	content: counter(count);
	font-weight: bold;
	margin-right: .4rem;
}
.framed-text li ul, .framed-text li ol {
	padding-left: 2rem;
}





#player-page {
	padding: 20px;
	border-radius: 30px;
	background-color: #F8F8F8;
}
#player-page h2 {
	width: fit-content;
	padding: 0 10px 2px 10px;
	border-radius: 8px;
	margin: 0 0 1rem 3rem;
	color: white;
	background-color: royalblue;
}
#player-page table {
	display: grid;
	grid-template-columns: 0 repeat(4, auto);
	position: relative;
	width: 100%;
	height: 15.3rem;
	border: solid 2px black;
	border-radius: 4px;
	border-collapse: collapse;
	overflow-y: scroll;
	text-align: center;
	font-size: 1rem;
}
#player-page thead, #player-page tbody, #player-page tr {
	display: contents;
}
#player-page thead th {
	position: sticky;
	top: 0px;
	z-index: 2;
	padding: .5rem 0;
	font-size: 1.1rem;
	background-color: #DDD;
	box-shadow: 0 1px #888, 0 2px #AAA, 0 4px #CCC, 0 6px #EEE;
}
#player-page tbody td {
	padding: .41rem 0;
}
#player-page tbody tr:nth-child(even) td {
	background-color: #EEE;
}
#player-page button {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 2rem;
	z-index: 1;
}
#player-page button:hover {
	background-color: #FBC4;
}



#activite {
	display: flex;
	flex-flow: column nowrap;
	align-items: start;
}
#activite h2 {
	margin-bottom: 3rem;
}
#activite ul {
	display: flex;
	flex-flow: column nowrap;
}
#activite li {
	list-style: none;
}





#stats-page {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-right: 8%;
	background-image: linear-gradient(to bottom, gold, black);
	border-radius: 50px;
	box-shadow: black 0 10px 30px 0;
}
#stats-page li {
	display: contents;
}
#stats-page li:nth-child(-n+2) output { color: #811; }
#stats-page li:nth-child( n+3) output { color: #8BF; }
#stats-page li:nth-child(-n+2) label > span { color: #111; }
#stats-page li:nth-child( n+3) label > span { color: #AAA; }
#stats-page li:nth-child(-n+2) label > span > span { color: #8F0; }
#stats-page li:nth-child( n+3) label > span > span { color: #F00; }
#stats-page label {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 8% 0;
}
#stats-page label > output {
	font-size: 4rem;
	font-weight: bold;
}
#stats-page label > span {
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 1px;
}
#stats-page label > span > span {
	font-size: 1.2rem;
	color: red;
	font-weight: bold;
}





#classements {
	display: flex;
	flex-flow: row wrap;
}
#classements ul {
	display: contents;
}
#classements li {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	position: relative;
	min-width: 25vw;
	padding: 1rem 2rem;
	border: solid 3px #555;
	border-radius: 30px;
	box-shadow: #888 3px 3px 10px, #AAA 5px 1px 5px inset;
	transition: all .1s linear;
}
#classements li:hover {
	box-shadow: #888 3px 3px 10px, #AAA 5px 1px 20px inset;
	background-color: #FFF8FF;
}
#classements button {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/*background-color: #FE86;*/
}
#classements li .classement-head {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}
#classements li h2 {
	font-size: 2rem;
	color: black;
}
#classements .classement-maj {
	font-size: 1rem;
	color: #666;
}
#classements .classement-crea {
	font-size: .8rem;
	color: #666;
}
#classements hr {
	border-bottom: solid 1px #888;
	margin:.5rem 0;
}
#classements .classement-content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#classements .classement-difficulte {
	margin-left: 20%;
}
#classements .classement-taille {
	margin-right: 20%;
}







#jeu img {display: block; margin: auto; width:70px; height:70px;}

#jeu {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 0 25%;
	width: 100%;
	height: 100%;
}
#jeu table {
	height: 100%;
	aspect-ratio: 1;
}
#jeu table td, #jeu table th {
	position: relative;
	vertical-align: middle;
}
#jeu table button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
#jeu table button:hover {
	background-color: #F002;
}
#jeu table button:active {
	background-color: #F005 !important;
}
#jeu table input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	appearance: none;
	border-radius: 20px;
}
#jeu table input:hover {
	background-color: #0F02;
}
#jeu table input:checked {
	background-color: #0F05 !important;
}
#jeu > ul {
	display: flex;
	flex-flow: column wrap;
	justify-content: stretch;
	height: 100%;
}
#jeu > ul > li {
	display: flex;
	position: relative;
	padding: 5px;
	border-radius: 20px;
	list-style: none;
}
#jeu > ul > li:has(input:checked) {
	background-color: #080;
}
#jeu > ul input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 10px;
	appearance: none;
	z-index: 1;
}
#jeu > ul input:hover {
	background-color: #0F05;
}
