<!--
Contributeur 1 : BOULLOT Matthias p2306662
Contributeur 2 : CISERANE Marius p2303380
-->

{% extends "base.html" %}

{% block main_content %}
<p>
	Lost Seas est un jeu de société de stratégie, simple à prendre en main et agréable à jouer à plusieurs.
	Ce site étends le plaisir du jeu en proposant une version solo et en ligne, accessible partout à partir de n'importe quel appareil.
</p>
<p>
	Avant de commencer, n'hésitez pas à lire <a href="/regles">les règles du jeu</a>.
</p>
<form id="player-page" method="POST" action="/" class="targetable">
	<h2>Choisissez votre joueur</h2>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Pseudo</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Année de naissance</th>
			</tr>
		</thead>
		<tbody>
			{% for player in REQUEST_VARS['joueurs'][1] %}
			<tr>
				<th><button type="submit" name="id_joueur" value="{{ player['id_joueur'] }}"></button></th>
				<td>{{ player['pseudo'] }}</td>
				<td>{{ player['prénom'] }}</td>
				<td>{{ player['nom'] }}</td>
				<td>{{ player['année_naiss'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
<div>
	<h2>Activité du site</h2>

	<ul>
		<li>Nombre de joueurs : {{ REQUEST_VARS['joueurs'][0] }}</li>
		<li>Nombre de parties jouée depuis le lancement : {{ REQUEST_VARS['nb_parties']['en_cours'] + REQUEST_VARS['nb_parties']['terminées'] }} dont {{ REQUEST_VARS['nb_parties']['en_cours'] }} en cours !</li>
		<li>Voici les statistiques des 10 dernières parties finies sur le site :
			<form id="activite"  method="POST" action="jeu">
				<table>
					<thead>
						<th></th>
						<th>Joueur</th>
						<th>Difficulté</th>
						<th>Taille</th>
						<th>Score</th>
					</thead>
					<tbody>
						{% for partie in REQUEST_VARS['parties_terminées'] %}
						<tr>
							<th><button type="submit" name="partie" value="{{ partie['id_partie'] }}"></button></th>
							<td>{{ partie['pseudo'] }}</td>
							<td>{{ partie['difficulté'] }}</td>
							<td>{{ partie['taille'] }}</td>
							<td>{{ partie['score'] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</li>
</div>
{% endblock %}
