{% extends "base.html" %}

{% block main_content %}

{% if 'infos_classement' in REQUEST_VARS %}


<h1>Classement {{ "on sait pas" }}</h1>

<table>
	<thead>
		<th>#</th>
		<th>Joueur</th>
		<th>Score</th>
		<th>Date</th>
	</thead>
	<tbody>
		{% for ligne in REQUEST_VARS['infos_classement'] %}
		<tr>
			<!-- IF PLAYER IS FIRST ... -->
			<td>{{ 0 }}</td>
			<td>{{ ligne['id_joueur'] }}</td>
			<td>{{ ligne['score'] }}</td>
			<td>{{ ligne['date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% else %}


<h1>Classements</h1>

<p>Retrouvez ici tout les classements du jeu !</p>

<div id="classement-div">
	{% for classement in REQUEST_VARS['classements'] %}
	<div class="classement">
		<h2>{{ classement['nom'] }}</h2>
		<span class="classement-maj">{{ classement['date_maj'] }}</span>
		<span class="classement-crea">{{ classement['date_création'] }}</span>
		<span class="classement-difficulte">{{ classement['difficulté'] }}</span>
		<span class="classement-taille">{{ classement['taille_grille'] }}</span>
	</div>
	{% endfor %}
</div>


{% endif %}

{% endblock %}
