{% extends "base.html" %}

{% block main_content %}

{% if 'infos_classement' in REQUEST_VARS %}


<h1>Classement {{ "on sait pas" }}</h1>

<table id="classement">
	<thead>
		<th>#</th>
		<th>Joueur</th>
		<th>Score</th>
		<th>Date</th>
	</thead>
	<tbody>
		{% for ligne in REQUEST_VARS['infos_classement'] %}
		<tr>
			<!-- IF PLAYER IS FIRST ... -->
			<td>{{ 0 }}</td>
			<td>{{ ligne['id_joueur'] }}</td>
			<td>{{ ligne['score'] }}</td>
			<td>{{ ligne['date'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% else %}


<h1>Classements</h1>

<form id="classements" method="POST" action="/classements"><ul>
	{% for classement in REQUEST_VARS['classements'] %}
	<li>
		<button type="submit" name="grille" value="{{ classement['taille_grille'] }} {{ classement['difficulté'] }}"></button>
		<div class="classement-head">
			<h2>{{ classement['nom'] }}</h2>
			<span class="classement-maj">maj <time datetime="{{ classement['date_maj'].strftime("%Y-%m-%d %H:%M") }}">{{ classement['date_maj'].strftime("%Y-%m-%d %H:%M") }}</time></span>
		</div>
		<span class="classement-crea">création <time datetime="{{ classement['date_création'].strftime("%Y-%m-%d %H:%M") }}">{{ classement['date_création'].strftime("%Y-%m-%d %H:%M") }}</time></span>
		<hr>
		<div class="classement-content">
			<span class="classement-difficulte">{{ classement['difficulté'] }}</span>
			<span class="classement-taille">{{ classement['taille_grille'] }}</span>
		</div>
	</li>
	{% endfor %}
</ul></form>



{% endif %}

{% endblock %}
