<!--
Contributeur 1 : BOULLOT Matthias p2306662
Contributeur 2 : CISERANE Marius p2303380
-->

{% extends "base.html" %}

{% block main_content %}

{% if 'infos_classement' in REQUEST_VARS %}


<h1>Classement {{ REQUEST_VARS['infos_classement'][0] }}</h1>

<form id="classement" method="POST" action="jeu">
	<table>
		<thead>
			<th></th>
			<th>#</th>
			<th>Pseudo</th>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Score</th>
			<th>Date</th>
		</thead>
		<tbody>
			{% for ligne in REQUEST_VARS['infos_classement'][1] %}
			<tr>
				<th><button type="submit" name="partie" value="{{ ligne['id_partie'] }}"></button></th>
				<td>{{ ligne['rang'] }}</td>
				<td>{{ ligne['joueur']['pseudo'] }}</td>
				<td>{{ ligne['joueur']['nom'] }}</td>
				<td>{{ ligne['joueur']['prénom'] }}</td>
				<td>{{ ligne['score'] }}</td>
				<td><time datetime="{{ ligne['date'].strftime("%Y-%m-%d %H:%M") }}">{{ ligne['date'].strftime("%d %B %Y  %H:%M") }}</time></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>

{% else %}


<h1>Classements</h1>

<form id="classements" method="POST" action="/classements"><ul>
	{% for classement in REQUEST_VARS['classements'] %}
	<li>
		<button type="submit" name="grille" value="{{ classement['taille_grille'] }} {{ classement['difficulté'] }}"></button>
		<h2>{{ classement['nom'] }}</h2>
		<div class="classement-head">
			<span class="classement-crea">création <time datetime="{{ classement['date_création'].strftime("%Y-%m-%d %H:%M") }}">{{ classement['date_création'].strftime("%Y-%m-%d %H:%M") }}</time></span>
			<span class="classement-maj">maj <time datetime="{{ classement['date_maj'].strftime("%Y-%m-%d %H:%M") }}">{{ classement['date_maj'].strftime("%Y-%m-%d %H:%M") }}</time></span>
		</div>
		<hr>
		<div class="classement-content">
			<span class="classement-difficulte">{{ classement['difficulté'] }}</span>
			<span class="classement-taille">{{ classement['taille_grille'] }}</span>
		</div>
	</li>
	{% endfor %}
</ul></form>



{% endif %}

{% endblock %}
