{% extends "base.html" %}

{% block main_content %}

{% if REQUEST_VARS['AFFICHAGE'] == "DEFAUT" %}

<form method="POST" action="parties" class="formulaire" id="player-page">
	<h2>Choisissez votre partie</h2>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>Pseudo</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Année de naissance</th>
			</tr>
		</thead>
		<tbody>
			{% for player in REQUEST_VARS['joueurs'][1] %}
			<tr>
				<th><button type="submit" name="id_joueur" value="{{ player['id_joueur'] }}"></button></th>
				<td>{{ player['pseudo'] }}</td>
				<td>{{ player['prénom'] }}</td>
				<td>{{ player['nom'] }}</td>
				<td>{{ player['année_naiss'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
		<button type="submit" class="button" name="action" value="nouvelle_partie">
		<span class="button__text" id="button__text1">Nouvelle partie</span>
		<span class="button__icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none" class="svg">
				<line y2="19" y1="5" x2="12" x1="12"></line>
				<line y2="12" y1="12" x2="19" x1="5"></line>
			</svg>
		</span>
	</button>
	<button type="submit" class="button" name="action" value="reprendre_partie">
		<span class="button__text" id="button__text2">Reprendre la partie</span>
	</button>
</form>


{% else %}

<div  class="formulaire">
	<form method="POST" action="parties" class="form_main">
		
		<label class="slider">Taille de la grille
			<p class="slider_barre">3 <input type="range" class="taille" min="3" max="6" step="1" value="4" name="taille_grille"> 6</p>
		</label>
		
		<label class="difficulté">Difficulté
			<div class="radio-inputs">
				<label class="radio">
					<input type="radio" name="difficulté" checked="" value="facile">
					<span class="name">Facile</span>
				</label>
				<label class="radio">
					<input type="radio" name="difficulté" value="moyenne">
					<span class="name">Moyenne</span>
				</label>
					
				<label class="radio">
					<input type="radio" name="difficulté" value="difficile">
					<span class="name">Difficile</span>
				</label>
			</div>
		</label>
	
		<button type="submit" id="button" name="action" value="créer_partie">Valider</button>
	</form>
</div>

{% endif %}

{% endblock %}
