{% extends "base.html" %}

{% block main_content %}

{% if REQUEST_VARS['AFFICHAGE'] == "DEFAUT" %}

<form id="select-partie" method="POST" action="jeu" class="">
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Difficulté</th>
				<th>Taille</th>
				<th>date de création</th>
			</tr>
		</thead>
		<tbody>
			{% for partie in REQUEST_VARS['parties'] %}
			<tr>
				<th><button type="submit" name="partie" value="{{ partie['id_partie'] }}"></button></th>
				<td>{{ partie['difficulté'] }}</td>
				<td>{{ partie['taille'] }}x{{ partie['taille'] }}</td>
				<td><time datetime="{{ partie['date_création'].strftime("%Y-%m-%d %H:%M") }}">{{ partie['date_création'].strftime("%d %B %Y  %H:%M") }}</time></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>



<form id="select-partie" method="POST" action="parties" class="">
	<label>
		Créer un nouvelle partie
		<input type="submit" name="action" value="nouvelle_partie">
	</label>
</form>

<!--<form method="POST" action="parties" class="formulaire">
	<button type="submit" class="button" name="action" value="nouvelle_partie">
		<span class="button_text" id="button_text1">Nouvelle partie</span>
		<span class="button_icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" fill="none" class="svg">
				<line y2="19" y1="5" x2="12" x1="12"></line>
				<line y2="12" y1="12" x2="19" x1="5"></line>
			</svg>
		</span>
	</button>

	<div>
		<h2>Choisissez votre partie</h2>

		<table>
			<thead>
				<tr>
					<th></th>
					<th>Difficulté</th>
					<th>Taille</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% for partie in REQUEST_VARS['parties'] %}
				<tr>
					<th><button type="submit" name="id_partie" value="{{ partie['id_partie'] }}"></button></th>
					<td>{{ partie['difficulté'] }}</td>
					<td>{{ partie['taille'] }}</td>
					<td>{{ partie['score'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<button type="submit" class="button" name="action" value="reprendre_partie">
			<span class="button_text" id="button_text2">Reprendre la partie</span>
		</button>
	</div>
</form>-->



{% elif REQUEST_VARS['AFFICHAGE'] == "ACCUEIL" %}

<div class="warning">
	<h2>Vous n'avez pas sélectionné de joueur !</h2>
	<p>Veuillez retourner à l'accueil pour le sélectionner.</p>
	<a href="/#player-page" class="redirection">Accueil : Choisir un joueur</a>
</div>



{% else %}

<div  class="formulaire">
	<form method="POST" action="jeu" class="form_main">
		
		<label class="slider">Taille de la grille
			<p class="slider_barre">2 <input type="range" class="taille" min="2" max="7" step="1" value="4" name="taille_grille"> 7</p>
		</label>

		<label class="difficulté">Difficulté
			<div class="radio-inputs">
				<label class="radio">
					<input type="radio" name="difficulté" checked="" value="Facile">
					<span class="name">Facile</span>
				</label>
				<label class="radio">
					<input type="radio" name="difficulté" value="Moyenne">
					<span class="name">Moyenne</span>
				</label>
					
				<label class="radio">
					<input type="radio" name="difficulté" value="Difficile">
					<span class="name">Difficile</span>
				</label>
			</div>
		</label>

		<button type="submit" id="button" name="action" value="créer_partie">Valider</button>
	</form>
</div>

{% endif %}

{% endblock %}
