{% extends "base.html" %}

{% block main_content %}
<h1>Statistiques des Joueurs</h1>

<ul id="stats-page">
	<li><label>
		<output>{{ (100*23.345)|round/100 }}</output>
		<span>parties lancées par joueurs en moyenne</span>
	</label></li>

	<li><label>
		<output>BLITZSTREAM</output>
		<span>est le joueur le plus talentueux, avec un score de : <span>99999</span></span>
	</label></li>

	<li><label>
		<output>NAKAMURA</output>
		<span>est le pire joueur qu'on ait connu, avec un score de : <span>-3</span></span>
	</label></li>

	<li><label>
		<output>{{ REQUEST_VARS['score_0'] }}</output>
		<span>est le pire joueur qu'on ait connue</span>
	</label></li>
<!--
	<li><label>
		<output>X {{ (100*REQUEST_VARS['moyenne']|round)/100 }}</output>
		<span>lancées par joueurs en moyenne</span>
	</label></li>

	{% if REQUEST_VARS.scores.maxi is not none %}
	<li><label>
		<output>{{ REQUEST_VARS['scores']['maxi'][1]['pseudo'] }}</output>
		<span>est le joueur le plus talentueux, avec un score de : <span>{{ REQUEST_VARS['scores']['maxi'][0] }}</span></span>
	</label></li>
	{% endif %}

	{% if REQUEST_VARS.scores.mini is not none %}
	<li><label>
		<output>{{ REQUEST_VARS['scores']['mini'] }}</output>
		<span>est le pire joueur qu'on ait connu, avec un score de : <span>{{ REQUEST_VARS['scores']['mini'][0] }}</span></span>
	</label></li>
	{% endif %}

	<li><label>
		<output>{{ REQUEST_VARS['score_0'] }}</output>
		<span>est le pire joueur qu'on ait connue</span>
	</label></li>
-->
</ul>
{% endblock %}
