<!--
Contributeur 1 : BOULLOT Matthias p2306662
Contributeur 2 : CISERANE Marius p2303380
-->

{% extends "base.html" %}

{% block main_content %}
<h1>Statistiques des Joueurs</h1>

<ul id="stats-page">
	<li><label>
		<output>{{ (100*REQUEST_VARS['moyenne']|round)/100 }}</output>
		<span>lancées par joueurs en moyenne</span>
	</label></li>

	{% if REQUEST_VARS.scores.maxi is not none %}
	<li><label>
		<output>{{ REQUEST_VARS['scores']['maxi'][1][0]['pseudo'] }}</output>
		<span>est le joueur le plus talentueux, avec un score de : <span>{{ REQUEST_VARS['scores']['maxi'][0] }}</span></span>
	</label></li>
	{% endif %}

	<li><label>
		{% if REQUEST_VARS['score_max'] %}
		<output><form method="POST" action="jeu"><ul>
		{% for partie in REQUEST_VARS['score_max'] %}
			<li>
				<button type="submit" name="partie" value="{{ partie['partie']['id_partie'] }}">{{ partie['joueur'][0]['pseudo'] }}</button>
			</li>
		{% endfor %}
		</ul></form></output>
		{% else %}
		<output>N/A</output>
		{% endif %}
		<span>sont toutes les parties ayant fait un 100%</span>
	</label></li>

	{% if REQUEST_VARS.scores.mini is not none %}
	<li><label>
		<output>{{ REQUEST_VARS['scores']['mini'][1][0]['pseudo'] }}</output>
		<span>est le pire joueur qu'on ait connu, avec un score de : <span>{{ REQUEST_VARS['scores']['mini'][0] }}</span></span>
	</label></li>
	{% endif %}

	<li><label>
		{% if REQUEST_VARS['score_0'] %}
		<output><form method="POST" action="jeu"><ul>
		{% for partie in REQUEST_VARS['score_0'] %}
			<li>
				<button type="submit" name="partie" value="{{ partie['partie']['id_partie'] }}">{{ partie['joueur'][0]['pseudo'] }}</button>
			</li>
		{% endfor %}
		</ul></form></output>
		{% else %}
		<output>N/A</output>
		{% endif %}
		<span>sont toutes les parties n'ayant validées aucune tuile</span>
	</label></li>
</ul>
{% endblock %}
